body, html {
    width: 100%;
    background-color: #f8fc87;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cat-box {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: center;
    background-image: url('nerdy.png');
    background-size: contain;
    background-color: violet;
    background-position: center;
    height: 450px;
    width: 450px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.cat-box.yapping {
    background-image: url('pop_yap.gif');
}

.cat-box .button-box {
    width: fit-content;
    height: fit-content;
    margin-bottom: 15px;
}

.cat-box .button-box .generate-button {
    background-color: #f7ec23;
    border: none;
    padding: 8px 29px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 12px;
    color: rgb(17, 16, 16);
    font-family: 'Sawarabi Gothic', sans-serif;
    box-shadow: 0px 10px 11px 0px rgba(29, 29, 29, 0.511);
    -webkit-box-shadow: 0px 10px 11px 0px rgba(29, 29, 29, 0.511);
    -moz-box-shadow: 0px 10px 11px 0px rgba(29, 29, 29, 0.511);
    transition: .5s ease;
}

.cat-box .button-box .generate-button:hover {
    transform: translateY(-4px);
    background-color: #fff537;
    color: rgb(118, 38, 175);
    box-shadow: 0px 0px 7px 6px rgba(213,213,213,0.82);
    -webkit-box-shadow: 0px 0px 7px 6px rgba(213,213,213,0.82);
    -moz-box-shadow: 0px 0px 7px 6px rgba(213,213,213,0.82);
}

.main-box {
    background-image: url('Rectangle 1.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    height: 300px;
    margin-top: 10px;
    width: 60%;
    display: flex;
    padding-right: 85px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.main-box .text-box {
    overflow: hidden;
    height: fit-content;
    width: 75%;
}

.main-box .text-box .fact-text {
    overflow: hidden;
    font-family: 'Catamaran', sans-serif;
    font-size: 130%;
    text-align: center;
    font-weight: 600;
    overflow-wrap: break-word;
}

.main-box .text-box .fact-text.generated {
    overflow: hidden;
    width: 100%;
    animation: appearing 1.6s ease;
    white-space: normal;
}


@keyframes appearing {
    from { opacity: 0;
    color: rgba(240, 240, 140, 0.764); }
    to { opacity: 1;
    color: black; }
}

@media (max-width: 800px) {
    .cat-box {
        width: 300px;
        height: 300px;
        bottom: 40px;
    }
    body, html {
        padding-top: 10px;
    }
    .main-box {
        margin-top: 0;
        width: 90%;
        background-image: url('Rectangle 3.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
        padding-bottom: 16%;
        padding-right: 0;
    }
    .main-box .text-box .fact-text {
        font-size: 110%;
    }
}