body {
    background-color: #c0c0c0;
    margin: 0;
    padding: 0;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cat-box {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: center;
    background-image: url('nerdy.png');
    background-size: contain;
    background-color: violet;
    background-position: center;
    height: 500px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.cat-box .button-box {
    width: fit-content;
    height: fit-content;
    margin-bottom: 15px;
}

.cat-box .button-box .generate-button {
    padding: 8px 16px;
    font-size: 20px;
}

.main-box {
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.main-box .text-box {
    height: 160px;
    width: fit-content;
}

.main-box .text-box .fact-text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100%;
    text-align: center;
    font-weight: 400;
}

.main-box .text-box .fact-text.generated {
    height: 100%;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    animation: typing 1.6s steps(50, end);
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}