body {
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
}

.cat-box {
    border: 1px black solid;
    height: 300px;
    width: 300px;
    position: absolute;
    bottom: 3px;
    left: 160px;
}

.main-box {
    height: 350px;
    width: 600px;
    border: 1px solid;
    position:absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    right: 130px;
}

.main-box .text-box {
    border: 1px solid green;
    height: 160px;
    width: 500px;  
}

.main-box .button-box{
    border: 1px solid blue;
    height: 60px;
    width: 300px;
}